<section class="about-container">
  <div class="about-text">
    <div class="left-about">
      <h1>ABOUT, MY</h1>
      <h1 id="text-work">SKILLS</h1>
    </div>
    <div class="right-about">
      <p>
        With 2 years of experience in HTML, CSS, and JavaScript, and a solid
        year working with React, Tailwind CSS, and Next.js, I’ve built a diverse
        portfolio of projects showcased on my GitHub. My backend skills include
        almost a year of hands-on experience with Express.js, MySQL, and
        Firebase, allowing me to create full-stack applications. Recently,
      </p>
      <p>
        I’ve also ventured into design, honing my skills in Figma over the past
        3 months. Alongside my technical expertise in web development, I bring a
        background in networking and a strong ability to think critically. With
        these skills and a passion for learning, I’m ready to make an impact in
        the programming world.
      </p>
      <a href="/pages/about.html">Read more →</a>
    </div>
  </div>
  <div class="about-bottom">
    <p>More experience<br />I`ve worked on</p>
    <h1 id="lato">MORE</h1>
    <h1>PROJECT</h1>
  </div>
</section>
