<section class="about-container">
  <div class="svg-container">
    <svg width="100%" height="100%" viewBox="0 0 500 500" class="progress-svg">
      <path
        id="progress"
        stroke="#f33b02"
        d="M 400 0 Q 448 135 208 154 Q 126 143 125 91 Q 138 34 209 44 Q 278 56 363 175 Q 426 247 568 246 Q 685 242 662 180 Q 653 132 559 146 Q 431 190 352 267 Q 267 335 207 324 Q 122 333 103 265 Q 118 198 212 211 Q 327 254 409 368 Q 490 461 558 454 Q 649 451 652 398 Q 650 335 555 343 Q 420 364 306 469 C 182 578 390 579 336 664 "
        stroke-width="1"
        fill="none"
        stroke-dasharray="0, 1000"
      />
    </svg>
  </div>
  <div class="about-text">
    <div class="left-about">
      <h1>ABOUT, MY</h1>
      <h1>WORK</h1>
    </div>
    <div class="right-about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
      molestiae temporibus sapiente, non sunt quis asperiores ipsa optio
      cupiditate quidem ea corrupti odit aliquam recusandae aperiam dignissimos
      minima fugiat iusto.
    </div>
  </div>
</section>
