.hero-section {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  color: #eaeeef;
  font-family: lato;
  padding-left: 5rem;
  padding-right: 5rem;
  gap: 3rem;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.left-container .hero-image {
  width: 100%;
  background-image: url("../public/images/WhatsApp\ Image\ 2024-05-16\ at\ 09.23.26.jpeg");
  background-size: cover;
  margin: 1rem;
  height: 22.1%;
  filter: grayscale(100%);
  transition: transform 0.5s ease, filter 0.5s ease;
  z-index: 120;
}

.left-container .hero-image:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.subtitle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: space-between;
  margin: 1rem;
  margin-top: -1.3rem;
}

.right-container {
  z-index: 10;
}

.hero-text-container {
  display: flex;
}
.hero-text {
  transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.8s ease;
  will-change: transform;
  backface-visibility: hidden;
}

.hero-text:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.hero-text:nth-child(1) {
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) 0.1s,
    opacity 0.8s ease 0.1s;
}

.hero-text:nth-child(2) {
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) 0.2s,
    opacity 0.8s ease 0.2s;
}

.hero-text:nth-child(3) {
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) 0.3s,
    opacity 0.8s ease 0.3s;
}

.hero-text:nth-child(4) {
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) 0.4s,
    opacity 0.8s ease 0.4s;
}

.hero-text:nth-child(5) {
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s,
    opacity 0.8s ease 0.5s;
}

.hero-text:nth-child(6) {
  transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1) 0.6s,
    opacity 0.8s ease 0.6s;
}

.right-container h1 {
  margin: 0;
  font-size: 8rem;
  font-family: "Lato", serif;
  font-weight: 900;
  color: #eaeeef;
  line-height: 8rem;
}

#name h2 {
  margin: 0;
  font-size: 8rem;
  font-family: playfair display;
  font-weight: 900;
  line-height: 7.5rem;
  background-color: #f33b02;
  padding: 0px 12px 12px 12px;
  text-align: center;
  color: #0d0d0f;
  transform: translate(0.3rem, 0);
}

#name span {
  font-weight: 400;
  font-size: 1.3rem;
  margin-left: 2rem;
}

.right-container #name {
  display: flex;
}

.circle-container {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

/* about sections */
#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
