nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 5vw;
  padding-right: 5vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .left-nav {
  display: flex;
  align-items: center;
  gap: 3rem;
}

nav h1 {
  margin: 0;
  font-family: playfair display;
  font-size: 1.8rem;
  font-weight: 900;
  font-style: italic;
  color: #000000;
  border: 1px solid #fe8008;
  padding: 0.9rem 0.8rem;
  border-radius: 50%;
  text-align: center;
  background-color: #fe8008;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 5rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: lato;
}

nav li a img {
  width: 1.8rem;
  color: #ffffff;
}

nav li a:hover {
  color: #fe8008;
}

nav li a:active {
  color: #fe8008;
}
