<div class="project-section">
  <div class="top-project-section">
    <div class="year">
      <p>2023<br />february</p>
    </div>
    <div class="image"></div>
    <div class="title">
      <h1>anime<br />list</h1>
      <p>
        I created this Anime List application using React.js and Tailwind CSS,
        pulling data from the Jikan API. The design was inspired by the
        Animekompi website. This was my first project with React.js, and it was
        a great learning experience for me.
      </p>
      <a href="/">read more →</a>
    </div>
  </div>
  <div class="bottom-project-section">
    <div class="title">
      <h1>aplikasi<br />pemesanan nasi goreng</h1>
      <p>
        i created an application using Next.js that includes a login page where
        users enter their personal information and phone number. After logging
        in, they are directed to a menu displaying food, drinks, and condiments.
        Users can select items and place orders, which are then sent to the
        admin dashboard for the seller to view.
      </p>
      <a href="/">← read more</a>
    </div>
    <div class="image"></div>
    <div class="year">
      <p>2023<br />february</p>
    </div>
  </div>
</div>
