<div class="project-section">
  <div class="top-project-section">
    <div class="year">
      <p>2023<br />february</p>
    </div>
    <div class="image"></div>
    <div class="title">
      <h1>anime<br />list</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        ad tempora quod, laudantium officiis natus aliquid reiciendis culpa sint
        possimus inventore cumque nihil sequi perferendis pariatur voluptates
        voluptas amet vel?
      </p>
      <a href="/">read more →</a>
    </div>
  </div>
  <div class="bottom-project-section">
    <div class="title">
      <h1>aplikasi<br />pemesanan nasi goreng</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
        ad tempora quod, laudantium officiis natus aliquid reiciendis culpa sint
        possimus inventore cumque nihil sequi perferendis pariatur voluptates
        voluptas amet vel?
      </p>
      <a href="/">← read more</a>
    </div>
    <div class="image"></div>
    <div class="year">
      <p>2023<br />february</p>
    </div>
  </div>
</div>
