<nav>
  <div class="left-nav">
    <a href="/">
      <h1>A,P</h1>
    </a>
    <ul>
      <li><a href="/pages/about.html">About</a></li>
      <li><a href="/pages/contact.html">Contact</a></li>
      <li><a href="/pages/projects.html">Projects</a></li>
    </ul>
  </div>
  <ul>
    <li>
      <a
        href="https://web.facebook.com/people/Ageng-Prayoga-Jr/pfbid06iFb2b9G9Q8F8b7DPCE7TD7nkpeJCtq3VLQsBzYgsBRteuKTEsGwrC6DRHT8GbFol/?locale=id_ID"
        ><img src="../public/images/icons8-facebook-50.png"
      /></a>
    </li>
    <li>
      <a href="https://github.com/consep33t"
        ><img src="../public/images/icons8-github-50.png"
      /></a>
    </li>
    <li>
      <a href="https://www.instagram.com/ageng_prayoga15__/"
        ><img src="../public/images/icons8-instagram-50 (1).png"
      /></a>
    </li>
  </ul>
</nav>
