<div class="container">
  <div class="circle-container">
    <div class="circle-text">S</div>
    <div class="circle-text">C</div>
    <div class="circle-text">R</div>
    <div class="circle-text">O</div>
    <div class="circle-text">O</div>
    <div class="circle-text">L</div>
    <div class="circle-text">-</div>
    <div class="circle-text">D</div>
    <div class="circle-text">O</div>
    <div class="circle-text">W</div>
    <div class="circle-text">N</div>
    <div class="circle-text">-</div>
    <div class="circle-text">S</div>
    <div class="circle-text">C</div>
    <div class="circle-text">R</div>
    <div class="circle-text">O</div>
    <div class="circle-text">O</div>
    <div class="circle-text">L</div>
    <div class="circle-text">-</div>
    <div class="circle-text">D</div>
    <div class="circle-text">O</div>
    <div class="circle-text">W</div>
    <div class="circle-text">N</div>
    <div class="circle-text">-</div>
    <div class="circle-text">-</div>
    <div class="center-icon">✦</div>
  </div>
</div>
