.circle-container-text {
  width: 235px;
  height: 235px;
  animation: rotate 20s linear infinite;
  overflow: hidden;
}

.circle-container-text:hover {
  animation-play-state: paused;
}

.circle-text {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 235px;
  height: 235px;
  font-family: playfair display;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
}

.center-icon {
  font-size: 150px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.circle-text:nth-child(1) {
  transform: rotate(0deg) translateX(90px);
}
.circle-text:nth-child(2) {
  transform: rotate(15deg) translateX(90px);
}
.circle-text:nth-child(3) {
  transform: rotate(30deg) translateX(90px);
}
.circle-text:nth-child(4) {
  transform: rotate(45deg) translateX(90px);
}
.circle-text:nth-child(5) {
  transform: rotate(60deg) translateX(90px);
}
.circle-text:nth-child(6) {
  transform: rotate(75deg) translateX(90px);
}
.circle-text:nth-child(7) {
  transform: rotate(90deg) translateX(90px);
}
.circle-text:nth-child(8) {
  transform: rotate(105deg) translateX(90px);
}
.circle-text:nth-child(9) {
  transform: rotate(120deg) translateX(90px);
}
.circle-text:nth-child(10) {
  transform: rotate(135deg) translateX(90px);
}
.circle-text:nth-child(11) {
  transform: rotate(150deg) translateX(90px);
}
.circle-text:nth-child(12) {
  transform: rotate(165deg) translateX(90px);
}
.circle-text:nth-child(13) {
  transform: rotate(180deg) translateX(90px);
}
.circle-text:nth-child(14) {
  transform: rotate(195deg) translateX(90px);
}
.circle-text:nth-child(15) {
  transform: rotate(210deg) translateX(90px);
}
.circle-text:nth-child(16) {
  transform: rotate(225deg) translateX(90px);
}
.circle-text:nth-child(17) {
  transform: rotate(240deg) translateX(90px);
}
.circle-text:nth-child(18) {
  transform: rotate(255deg) translateX(90px);
}
.circle-text:nth-child(19) {
  transform: rotate(270deg) translateX(90px);
}
.circle-text:nth-child(20) {
  transform: rotate(285deg) translateX(90px);
}
.circle-text:nth-child(21) {
  transform: rotate(300deg) translateX(90px);
}
.circle-text:nth-child(22) {
  transform: rotate(315deg) translateX(90px);
}
.circle-text:nth-child(23) {
  transform: rotate(330deg) translateX(90px);
}
.circle-text:nth-child(24) {
  transform: rotate(345deg) translateX(90px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
