<div class="container">
  <div class="text text-1">
    <span style="--index: 0">W</span>
    <span style="--index: 1">E</span>
    <span style="--index: 2">B</span>
    <span style="--index: 3">.</span>
    <span style="--index: 3">.</span>
    <span style="--index: 4">!</span>
    <span style="--index: 5">!</span>
    <span style="--index: 6"></span>
    <span style="--index: 10" style="color: #fe8008">⇅</span>
  </div>
  <div class="text text-2">
    <span style="--index: 0">D</span>
    <span style="--index: 1">E</span>
    <span style="--index: 2">V</span>
    <span style="--index: 3">E</span>
    <span style="--index: 4">L</span>
    <span style="--index: 5">O</span>
    <span style="--index: 6">P</span>
    <span style="--index: 7">M</span>
    <span style="--index: 8">E</span>
    <span style="--index: 9">N</span>
    <span style="--index: 10">T</span>
  </div>
</div>
